@model KasundiRestaurant.Models.ViewModels.MenuItemViewModel
@using KasundiRestaurant.Extentions
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Create MenuItem </h2>
<br />

<form enctype="multipart/form-data">
    <!--white backgrounded shell-->
    <div class="border backgrondwhite">
        <!--row 1-->
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="MenuItem.Name" class="form-control" />
            </div>
            <span asp-validation-for="MenuItem.Name" class="text-danger"></span>
        </div>

        <!--row 2-->
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.Description" class="col-form-label"></label>
            </div>
            <div class="col-5">
                @Html.TextAreaFor(m => m.MenuItem.Description)
            </div>
            <span asp-validation-for="MenuItem.Description" class="text-danger"></span>
        </div>
        <!--row 3-->
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.Price" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="MenuItem.Price" class="form-control" />
            </div>
            <span asp-validation-for="MenuItem.Price" class="text-danger"></span>
        </div>
        <!--row4-->
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.Image" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="file" name="files" multiple class="form-control" />
            </div>
        </div>

        <!--row5-->
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.CategoryId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.MenuItem.CategoryId" id="CategoryId" asp-items="Model.Categories.ToSelectListItem(Model.MenuItem.CategoryId)" class="form-control"></select>
            </div>
        </div>

        <!--row 5-->
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.SubCategoryId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.MenuItem.SubCategoryId" name="SubCategoryId" id="SubCategoryId" asp-items="@(new SelectList(string.Empty,"Id","Name"))" class="form-control"></select>
            </div>
        </div>
        <!--row6-->
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.Spicyness" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="MenuItem.Spicyness" asp-items="@Html.GetEnumSelectList<MenuItem.Espicy>()" class="form-control"></select>
            </div>
        </div>
        <!--row7-->
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_CreateAndBackToListPartailButton" />
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugin: "lists",
            menubar: 'file edit format'
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            getSubCategory();
            $('#CategoryId').change(function() {
                getSubCategory();
            });
        });

        function getSubCategory(parameters) {
            var url = '@Url.Content("~/")' + "Admin/SubCategory/GetSubCategory";
            var ddlsoruce = '#CategoryId';
            $.getJSON(url,
                { id: $(ddlsoruce).val() },
                function(data) {
                    var items = '';
                    $('#SubCategoryId').empty();
                    $.each(data,
                        function(i, subcategory) {
                            items += "<option value='" + subcategory.value + "'>" + subcategory.text + "</option>";
                        });
                    $('#SubCategoryId').html(items);
                });
        }
    </script>

}

