@model KasundiRestaurant.Models.ViewModels.MenuItemViewModel
@using KasundiRestaurant.Extentions
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Edit MenuItem </h2>
<br />

<form enctype="multipart/form-data">
    <!--white backgrounded shell-->
    <div class="border backgrondwhite row"
        <!--row 1-->
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Name" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItem.Name" disabled="" class="form-control" />
                </div>
                <span asp-validation-for="MenuItem.Name" class="text-danger"></span>
            </div>

            <!--row 2-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Description" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    @Html.TextAreaFor(m => m.MenuItem.Description)
                </div>
                <span asp-validation-for="MenuItem.Description" class="text-danger"></span>
            </div>
            <!--row 3-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Price" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItem.Price" disabled class="form-control" />
                </div>
                <span asp-validation-for="MenuItem.Price" class="text-danger"></span>
            </div>
           

            <!--row5-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.CategoryId" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="@Model.MenuItem.CategoryId" disabled id="CategoryId" asp-items="Model.Categories.ToSelectListItem(Model.MenuItem.CategoryId)" class="form-control"></select>
                </div>
            </div>

            <!--row 5-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.SubCategoryId" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="@Model.MenuItem.SubCategoryId" disabled name="SubCategoryId" id="SubCategoryId" asp-items="@(new SelectList(string.Empty, "Id", "Name"))" class="form-control"></select>
                </div>
            </div>
            <!--row6-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Spicyness" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="MenuItem.Spicyness" disabled asp-items="@Html.GetEnumSelectList<MenuItem.Espicy>()" class="form-control"></select>
                </div>
            </div>

        </div>

        <div class="col-3 offset-1">
            <img src="@Model.MenuItem.Image" width="100%" style="border-radius:5px;border: 1px solid yellow;" />
        </div>

        <!--row7-->
        <div class="col-8">
            <div class="col-8 offset-4">
                <partial name="_DetailsAndBackToListButton" model="Model.MenuItem.Id" />
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugin: "lists",
            menubar: 'file edit format',
            readonly:1
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            getSubCategory();
            $('#CategoryId').change(function() {
                getSubCategory();
            });
        });

        function getSubCategory(parameters) {
            var url = '@Url.Content("~/")' + "Admin/SubCategory/GetSubCategory";
            var ddlsoruce = '#CategoryId';
            $.getJSON(url,
                { id: $(ddlsoruce).val() },
                function(data) {
                    var items = '';
                    $('#SubCategoryId').empty();
                    $.each(data,
                        function(i, subcategory) {
                            items += "<option value='" + subcategory.value + "'>" + subcategory.text + "</option>";
                        });
                    $('#SubCategoryId').html(items);
                });
        }

    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}


